<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yining He">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yining He professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Yining He</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Yining He</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html" class="active">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact me</h2>
        <form action="">
            <label for="UserName">Your Name (required):</label>
            <input type="text" name="UserName" id="UserName" required/>
            <label for="UserEmail">Your Email(required):</label>
            <input type="email" name="UserEmail" id="UserEmail" required>
            <label for="UserText">Your text (required): </label>
            <textarea name="UserText" id="UserText" cols="30" rows="10" required></textarea>
            <input type="submit" value="Send" onclick="validate()">
        </form>
        <p id="ValidateMsg"></p>

        <table>
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr><td>Email</td><td>yininghe@andrew.cmu.edu</td></tr>
            <tr><td>Phone</td><td>929-391-3455</td></tr>
            <tr><td>Linkedln</td><td>Yining He</td></tr>
        </table>
    </div>
    <footer>
        <p id="copyYear">Yining He &copy;</p>
    </footer>
</body>
</html>