<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yining He">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yining He professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Yining He</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Yining He</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Carnegie Mellon University</td><td>
                <ul>
                    <li>5 year B.arch program</li>
                </ul>
            </td></tr>

            <tr><td>Brooklyn Technical High School</td><td>
                <ul>
                    <li>AP Scholar</li>
                    <li>GPA: 97.33</li>
                </ul>
            </td></tr>

            <tr><td>Turner&Townsend</td><td>Summer Intern (July-August 2022)
                <ul>
                    <li>Used excel sheets to organize and estimate costs for different projects</li>
                    <li>Assisted in creating flash reports that briefed about a specific construction project, including a schedule and budget</li>
                    <li>Learned about the flow of a construction schedule and helped create one </li>
                    <li>Exposure to industry meetings revolving procurement processes </li>
                </ul>
            </td></tr>

            <tr><td>Metrospeedy Technologies INC</td><td>Media Intern(July-August 2022)
                <ul>
                    <li>Pinned existing locations of clients on a map for drivers to better navigate their deliveries</li>
                    <li>Designed landing pages that targeted clients with different delivery needs, such as a supermarket or a pharmacy</li>
                    <li>Drafted floor plans to efficiently place 20 eco-friendly delivery bikes into the garage space</li>
                </ul>
            </td></tr>

            <tr><td>Urban Plan Competition</td><td> Participant(May-June 2021)
                <ul>
                    <li>Represented the role of site planner on a Real Estate development team to win the bid for a Request for Proposal to redevelop a blighted neighborhood </li>
                    <li>Cooperated with the development team to create a vision statement, site plan proposal while balancing the needs of the neighborhood groups and the city and ensuring an appropriate tax revenue and profit return</li>
                    <li>Collaborated with industry professionals to receive feedback and share ideas regarding design and financials and presented to a representative City Council from the Urban Land Institute</li>
                </ul>
            </td></tr>

        </table>
        <a href="../static/your_resume.pdf" target="_blank">My resume, pdf version</a> 
    </div>
    <footer>
        <p id="copyYear">Yining He &copy;</p>
    </footer>
</body>
</html>