<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yining He">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yining He professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Yining He</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Yining He</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html" class="active">For fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="mainFun">
        <div id="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button id="SeeMoreBTN" onclick="showList()">Click to see...</button> -->
            <ul id="FavList">
                <li>Paddling</li>
                <li>Crocheting</li>
                <li>Drawing</li>
                <li>Playing the piano</li>
                <li>Reading</li>
            </ul>
        </div>
        <div id="item2">
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div id="item3">
            <h3>My favorite places</h3>
                <div id="map"></div>
                <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",
                m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new 
                Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);
                a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                    ({key: "AIzaSyCKEegw6woJKR7i_ByVsdsnD-sW5tRI_T4", v: "weekly"});</script>
        </div>
        <div id="item4">
            <img class="funIMG" src="../static/fun image of me.jpg" alt="Yining He fun image"width="250px">
        </div> 
    </div> 
    <footer> 
        <p id="copyYear">Yining He &copy;</p>
    </footer>
</body>
</html>