<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yining He">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yining He professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Yining He</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Yining He</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav> 
    </header> 
    <div class="main">
        <h2 id="greeting"></h2>
        <img class="classA" src="../static/photo_of_me.jpg" alt="Yining He profile image" width="350px">
            <div class="classA">
                <p>
                <span id="shortIntro">I am a current sophmore studying Architecture at Carnegie Mellon University.</span>
                <span id="readMore">read more...</span>
                <span id="longIntro">I am also interested in pursuing the Information Systems major right now. After classes, I work at a boba store two days a week and in my free time
                    I like to crochet or listen to music. I also love going to dessert places and have a sweet tooth. 
                    I am from New York City, and I often went dragonboat paddling the summer and on the weekends during high school.  </span>
                <span id="readLess">read less</span>
                </p>
            </div>
    </div> 
    <footer>
        <p id="copyYear">Yining He &copy;</p>
    </footer>
</body>
</html>